body {
    font-family: Roboto;
}

.wrapper {
    margin: 80px auto;
    width: 80%;
    position: relative;
}

form {
    margin: 50px 0;
}

input,
select,
textarea {
    margin: 5px 0;
    padding: 11px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
}

.graylabal {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.blacklabal {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

input:focus,
textarea:focus,
select:focus,
.cool-select select:focus {
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
    border: 1px solid #3e6aff;
}

textarea {
    resize: vertical;
    min-height: 130px;
    max-height: 300px;
}

.w100 {
    width: 100%;
}

.mainh {
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

h2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.reason {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.check {
    display: none;
}

.check+label {
    position: relative;
    padding-left: 25px;
}

.check+label::before,
.check+label::after {
    content: "";
    position: absolute;
}

.check+label::before {
    left: 0;
    top: 0;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.check:checked+label::before {
    border-color: #3e6aff;
}

.check:checked+label::after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: 2px solid #3e6aff;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}

.cool-radio {
    display: none;
}

.cool-radio+label {
    position: relative;
    padding-left: 25px;
}

.cool-radio+label::before,
.cool-radio+label::after {
    content: "";
    position: absolute;
    transition: all 1s;
}

.cool-radio+label::before {
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.cool-radio:checked+label::before {
    border: 1px solid #3e6aff;
}

.cool-radio:checked+label::after {
    width: 8px;
    height: 8px;
    left: 4px;
    top: 5px;
    border-radius: 50%;
    background-color: #3e6aff;
}

.eform {
    max-width: 330px;
}

textarea {
    margin: 5px 0;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.reg {
    cursor: pointer;
    border-radius: 3px;
    background-color: #12d661;
    font: 700 14px "Roboto";
    color: #fff;
    border: none;
}

.reg:hover {
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
    background-color: #07be51;
    outline: none;
}

.cool-select option:first-child {
    display: none;
}

.cool-select,
.cool-select select {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
}

.cool-select {
    background-color: #fff;
}

.cool-select:before {
    content: "";
    position: absolute;
    top: 16px;
    right: 20px;
    border: 4px solid transparent;
    border-bottom-color: #000;
    border-right-color: #000;
    transform: rotate(45deg);
    z-index: 0;
}

.cool-select select {
    padding: 10px 20px;
    border: 1px solid #ccc;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

hr {
    height: 1px;
    width: 100%;
    border-color: transparent;
    border-bottom-color: #e9e9e9;   
}

.delivery_information {
    max-width: 106px;
    margin-right: 60px;
    display: inline-block;
}

.table_cargo {
    padding: 14px 5px;
    float: right;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.table_cargo td:first-child {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.table_cargo td {
    padding: 7px 16px;
}

.table_cargo label {
    padding-right: 20px;
}

.table_cargo label:nth-child(3) {
    padding-right: none;
}

.elements_check {
    max-width: 250px;
    display: inline-block;
}

.inb {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.c-td::-webkit-calendar-picker-indicator {
    opacity: 0.3;
}

.style {}

.gendr {
    display: inline-block;
    margin-right: 300px;
    max-width: 150px;
}

.off {
    display: inline-block;
    max-width: 290px;
}

.gendr label,
.off label {
    display: inline-block;

}

.gendr label {
    padding: 35px 85px;
}

.ma,
.woma {
    display: none;
}

.ma+label,
.woma+label {
    position: relative;
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.ma+label::before,
.ma+label::after,
.woma+label::before,
.woma+label::after {
    content: "";
    position: absolute;
    transition: all 1s ease;
}

.ma+label::before {
    left: 0;
    top: 7px;
    width: 71px;
    height: 71px;
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
}

.ma:checked+label::before {
    width: 71px;
    height: 71px;
    background-image: url(../img/man-hover.png);
    background-repeat: no-repeat;
}

.woma+label::before {
    left: 0;
    top: 7px;
    width: 71px;
    height: 71px;
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
}

.woma:checked+label::before {
    width: 71px;
    height: 71px;
    background-image: url(../img/woman-hover.png);
    background-repeat: no-repeat;
}

.off label {
    padding: 15px 65px;
}

.switch {
    display: none;
}

.switch+label {
    position: relative;
}

.switch+label::before,
.switch+label::after {
    content: "";
    position: absolute;
    transition: all 1s ease;
}

.switch+label::before {
    left: 0;
    top: 9px;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid #cfcfd1;
    background-color: #cfcfd1;
}

.switch+label::after {
    left: 3px;
    top: 11px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
}

.switch:checked+label::after {
    left: 21px;
    top: 11px;
    width: 5px;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.switch:checked+label::before {
    background-color: #3e6aff;
}

.tableform {
    max-width: 500px;
}

.tableform td:first-child {
    padding: 15px 0;
    vertical-align: top;
}

.gr {
    margin-right: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-file__label {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    padding: 14px 35px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3e6aff;
}

.upload-file__label .upload-file__text {
    transition: .25s ease;
}

.upload-file__label {
    font: 700 14px "Roboto";
    color: #fff;
}

.upload-file__text {
    display: none;
}

.upload-file__label:hover {
    box-shadow: 0px 2px 2.5px rgba(15, 40, 126, 0.35);
    background-color: #2857f4;
}

.form_application {
    max-width: 680px;
}

.application table {
    width: 100%;
    border-collapse: collapse; 
}

.application td {
    padding-right: 10px;
}

.application tr td:last-child,
.application table:nth-child(2) tr:first-child td:nth-child(2) {
    padding: 0;
}

.application label {
    width: 100%;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.application input {
    width: 100%;
}

.top-text {
    display: inline-block;
    position: relative;
    padding: 15px 0;
}

.top-text span {
    position: absolute;
    top: 0;
    left: 0;
}

.top-text.cool-select::before {
    top: 32px;
}

.tr_line {
    position: relative;
    margin-bottom: 25px;
}

.tr_line::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e9e9e9;    
}

.cool-select-2 {
    position: relative;
}

.cool-select-2::after {
    content: "";  
    position: absolute;
    top: 29px;
    left: 180px;
    width: 1px;
    height: 19px;
    background-color: #ccc; 
    z-index: 2; 
}

.under-table-form {}

.i-agree {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 55px
}

.i-agree::before {
    content: "";
    position: absolute;
    top: 42px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e9e9e9;
}

.yes-no {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 145px;
}

.back,
.draw-up {
    padding: 13px 25px;
}

.back {
    font-size: 14px;
    color: #6e6f77;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #85868d;
}

.back:hover {
    color: #fff;
    background-color: #85868d;
}

.fix-form {
    max-width: 320px;
    position: sticky;
    left: 70%;
    bottom: 20px;
}

.fix-form h2,
.fix-form div {
    transition: all 1s;
}

.kross {
    display: none;
}

.kross+label::after {
    content: "+";
    position: absolute;
}

.kross+label::after {
    font-size: 20px;
    left: 300px;
    top: 60px;
    color: #b3b3b3;
    transform: rotate(45deg);
    z-index: 4;
}

.kross:checked~div,
.kross:checked~h2 {
    visibility: hidden;
    opacity: 0;
}

.kross:checked+label::after,
.kross:checked+label::before {
    content: "";
    position: absolute;
}

.kross+label:hover::after,
.kross+label:hover::before {
    color: #3e6aff;
    cursor: pointer;
}

.kross:checked+label::after {
    width: 10px;
    height: 10px;
    left: 300px;
    top: 67px;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    border-right: none;
    transform: rotate(0deg);
}

.kross:checked+label::before {
    font-size: 20px;
    width: 1px;
    height: 1px;
    left: 306px;
    top: 65.5px;
    border: 2px solid transparent;
    border-bottom-color: #b3b3b3;
    border-right-color: #b3b3b3;
    transform: rotate(15deg);
}

.fixinputs {
    padding: 30px 25px 20px 25px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.fixinputs a {
    font-size: 13px;
    color: #3e6aff;
    text-decoration: none;
    font-family: "Roboto";
}

.fixinputs a:hover {
    text-decoration: underline;
}

.fixcheck {
    display: inline-block;
    margin-bottom: 15px;
}